@font-face {
    font-family: 'headerfont';
    src: url(../font/insane.ttf) format('truetype');
}
@font-face {
    font-family: 'body';
    src: url(../font/aleo.otf) format('opentype');
}
@font-face {
    font-family: 'link';
    src: url(../font/oldtown.ttf) format('truetype');
}
@font-face {
    font-family: 'header';
    src: url(../font/future.ttf) format('truetype');
}

@font-face {
    font-family: 'alien';
    src: url(../font/alien.ttf) format('truetype');
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

#main-body {
    background-image: url('../img/mobile-back.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
}

header {
    text-align: center;
}

header img {
    width: 90%;
    margin-top: 20%;
}

nav ul {
    padding-left: 0;
}

nav ul li {
    list-style-type: none;
    padding: 3% 0;
    background-color: rgba(14, 88, 19, 0.75);
    margin: 2%;
    border-radius: 10px;
    font-family: 'header';
    letter-spacing: 0.5em;
}

nav ul li:hover {
    background-color: #e7e7e7;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    margin: 1% 0%;
}

nav ul li a:hover {
    color: #0e5813;
    background-color: #e7e7e7;
    border-radius: 10px;
    padding: 3% 20%;
}

#about {
    background-color: white;
    border: 10px solid transparent;
    border-image: url('../img/sand.png') 27;
    margin-top: 50%;
    padding: 10% 5%;
}

#about h2 {
    font-family: 'headerfont', sans-serif;
    font-size: 1.7em;
    text-align: center;
    text-decoration: underline;
    margin-top: 30%;
}

#about p {
    padding: 3% 0%;
    font-family: 'body', sans-serif;
}

footer {
    background-color: #0e5813;
    text-align: center;
    margin-top: -5%;
    padding: 18% 0%;
}

footer nav {
    padding-top: 5%;
}

footer p,
a {
    color: #ffffff;
    text-decoration: none;
}

footer p {
    padding-top: 15%;
}

footer img {
    width: 60%;
    text-align: center;
}

/* ----------------------------------------------contact Page ----------------------- */

#contact {
    background-color: white;
    border: 10px solid transparent;
    border-image: url('../img/sand.png') 27;
    padding: 10% 5%;
}

#logo-back {
    background-color: white;
    text-align: center;
    background-image: url('../img/sand.png');
}

#logo3 {
    width: 60%;
    padding: 10% 0%;
}


/* ----------------------------------------------Hamburger Menu/jQuery Menu ----------------------- */
.panel {
    position: fixed;
    left: -15.625em; /*right or left and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

.wrap {
    position: relative;
}

#main-pages {
    text-align: right;
    position: absolute;
    background-color: #0e5813;
    width: 100%;
}

#hamburger {
    width: 10%;
}

#menu {
    background-color: rgba(14, 88, 19, 0.95);
    text-align: center;
    z-index: 1;
}

#menu ul li {
    background-color: transparent;
}

#menu ul li a {
    color: #ffffff;
}

/* ----------------------------------------------Contact Page ----------------------- */
#contact h2 {
    font-family: 'headerfont', sans-serif;
    text-align: center;
    text-decoration: underline;
    margin-top: 25%;
}

#contact h3 {
    font-family: 'headerfont', sans-serif;
    text-align: center;
    text-decoration: underline;
    padding-top: 10%;
}

#contact p {
    text-align: center;
}

#alien {
    font-family: 'alien', sans-serif;
}

#contact-logo {
    position: relative;
    text-align: center;
    padding-right: 20%;
}

#contact-logo-nonactive {
    position: absolute;
    width: 25%;
}

#contact-logo-active {
    width: 25%;
    position: absolute;
}

@keyframes contact-logo-animation {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#contact-logo img#contact-logo-active {
    animation-name: contact-logo-animation;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
}

#banner {
    background-color: #0e5813;
}

#banner img {
    width: 100%;
}

#strike-through {
    text-decoration: line-through;
}

/* ----------------------------------------------Events/Awards/Promo Page ----------------------- */
#events,
#awards,
#promos {
    text-align: center;
    border: 5px solid transparent;
    border-image: url('../img/sand.png') 27;
    padding: 0% 4%;
}

#events h2,
#awards h2,
#promos h2 {
    padding: 0;
    font-family: 'headerfont', sans-serif;
    text-decoration: underline;
}

hr {
    width: 80%;
}

#events img,
#awards img,
#promos img {
    width: 45%;
    border: 5px solid transparent;
    border-image: url('../img/sand.png') 27;
    box-shadow: 0 0 30px;
    margin-top: 10%;
}

#events p,
#awards p,
#promos p {
    text-align: center;
    font-family: 'body', sans-serif;
}

#events p:last-child {
    padding-bottom: 25%;
}

/* ----------------------------------------------Awards Page ----------------------- */

#awards ul,
#promos ul {
    list-style-type: none;
    font-family: 'body', sans-serif;
    padding: 0;
}

#awards ul li,
#promos ul li {
    padding-bottom: 10%;
}
