@font-face {
    font-family: 'headerfont';
    src: url(../font/insane.ttf) format('truetype');
}
@font-face {
    font-family: 'body';
    src: url(../font/aleo.otf) format('opentype');
}
@font-face {
    font-family: 'link';
    src: url(../font/oldtown.ttf) format('truetype');
}
@font-face {
    font-family: 'header';
    src: url(../font/future.ttf) format('truetype');
}

@font-face {
    font-family: 'alien';
    src: url(../font/alien.ttf) format('truetype');
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

#home {
    background-image: url('../img/mobile-back.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    padding-bottom: 25%;
}

header {
    text-align: center;
}

header img {
    width: 90%;
    margin-top: 20%;
}

nav ul {
    padding-left: 0;
}

nav ul li {
    list-style-type: none;
    padding: 3% 0;
    background-color: rgba(14, 88, 19, 0.75);
    margin: 2%;
    border-radius: 10px;
    font-family: 'header';
    letter-spacing: 0.5em;
}

nav ul li:hover {
    background-color: #e7e7e7;
    color: #0e5813;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    margin: 1% 0%;
}

nav ul li a:hover {
    color: #0e5813;
    background-color: #e7e7e7;
    border-radius: 10px;
    padding: 1% 5%;
}

#home-logo,
.inside-images-large-screens {
    display: none;
}

#main-page-logo {
    display: none;
}

#about {
    background-color: white;
    border: 10px solid transparent;
    border-image: url('../img/sand.png') 27;
    padding: 10% 5%;
}

#about h2 {
    font-family: 'headerfont', sans-serif;
    font-size: 1.7em;
    text-align: center;
    text-decoration: underline;
    margin-top: 30%;
}

#about-home {
    font-family: 'body', sans-serif;
}

#about p {
    padding: 3% 0%;
}

#alien-text {
    background-color: #0e5813;
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#back-to-top p {
    clear: both;
    color: black;
    text-align: right;
    font-family: 'body', serif;
    padding: 1%;
}

#back-to-top p:hover {
    color: #0e5813;
    text-decoration: underline;
}

footer {
    background-color: #0e5813;
    text-align: center;
    padding: 18% 0%;
}

footer nav {
    padding-top: 5%;
}

footer p,
a {
    color: #ffffff;
    text-decoration: none;
}

footer p {
    padding-top: 15%;
}

footer img {
    width: 60%;
    text-align: center;
}

/* ----------------------------------------------contact Page ----------------------- */

#contact {
    background-color: white;
    border: 10px solid transparent;
    border-image: url('../img/sand.png') 27;
    padding: 10% 5%;
}

#logo-back {
    background-color: white;
    text-align: center;
    background-image: url('../img/sand.png');
}

#logo3 {
    width: 60%;
    padding: 10% 0%;
}

#alderaan {
    font-family: sans-serif;
    text-decoration: line-through;
    font-size: 1.5em;
}

#social-media {
    text-align: center;
}

#social-media img {
    width: 20%;
}

/* ----------------------------------------------Hamburger Menu/jQuery Menu ----------------------- */
.panel {
    position: fixed;
    left: -15.625em; /*right or left and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

.wrap {
    position: relative;
}

#main-pages {
    text-align: right;
    position: absolute;
    background-color: #0e5813;
    width: 100%;
    border-bottom: 3px solid #0e5813;
}

#hamburger {
    width: 10%;
}

#menu {
    background-color: rgba(14, 88, 19, 0.95);
    text-align: center;
    z-index: 1;
}

#menu ul li {
    background-color: transparent;
}

#menu ul li a {
    color: #ffffff;
}

/* ----------------------------------------------Contact Page ----------------------- */
#contact h2 {
    font-family: 'headerfont', sans-serif;
    text-align: center;
    text-decoration: underline;
    margin-top: 30%;
}

#contact h3 {
    font-family: 'headerfont', sans-serif;
    text-align: center;
    text-decoration: underline;
    padding-top: 10%;
}

#contact p {
    text-align: center;
}

.alien {
    font-family: 'alien', sans-serif;
}

.body-font {
    font-family: 'body', sans-serif;
}

#contact-logo {
    position: relative;
    text-align: center;
    padding-right: 16%;
}

#contact-logo-nonactive {
    position: absolute;
    width: 25%;
}

#contact-logo-active {
    width: 25%;
    position: absolute;
}

@keyframes contact-logo-animation {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#contact-logo img#contact-logo-active {
    animation-name: contact-logo-animation;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
}

#banner {
    background-color: #0e5813;
}

#banner img {
    width: 100%;
}

#strike-through {
    text-decoration: line-through;
}

/* ----------------------------------------------Events/Awards/Promo Page ----------------------- */
#events,
#awards,
#promos,
#menu-page {
    text-align: center;
    border: 5px solid transparent;
    border-image: url('../img/sand.png') 27;
    padding: 0% 4%;
}

#menu-page {
    padding-bottom: 20%;
}
#events h2,
#awards h2,
#promos h2,
#menu-page h2 {
    padding: 0;
    font-family: 'headerfont', sans-serif;
    text-decoration: underline;
}

#menu-page h3 {
    font-family: 'headerfont', sans-serif;
    text-decoration: underline;
}

#menu-page h4,
#menu-page p {
    font-family: 'body', sans-serif;
}

hr {
    width: 80%;
}

#events img,
#awards img,
#promos img {
    width: 45%;
    border: 5px solid transparent;
    border-image: url('../img/sand.png') 27;
    box-shadow: 0 0 30px;
    margin-top: 10%;
}

#events p,
#awards p,
#promos p,
#menu-page p {
    text-align: center;
    font-family: 'body', sans-serif;
}

#events p:last-child {
    padding-bottom: 25%;
}

.promotion-img img {
    display: none;
}

.arrow-hide {
    display: none;
}

#darkside {
    clear: both;
    width: 20%;
}
/* ----------------------------------------------Awards Page ----------------------- */

#awards ul,
#promos ul {
    list-style-type: none;
    font-family: 'body', sans-serif;
    padding: 0;
}

#awards ul li,
#promos ul li {
    padding-bottom: 10%;
}

#menu-page img {
    display: none;
}
#rebel {
    font-family: 'body', sans-serif;
    text-align: center;
}
#rebel img {
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
}


/* ----------------------------------------------Screens Larger Than 600px ----------------------- */
@media only screen and (min-width: 600px ) {
    #home nav ul {
        text-align: center;
    }
    #home img {
        width: 50%;
    }
    #home nav ul li {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    #about {
        padding: 20% 10%;
    }
    footer img {
        width: 40%;
    }
    footer nav ul li {
        background-color: transparent;
        padding: 0 5% 0 0;
        margin: 3% 0 0;
    }
    footer nav ul li a {
        margin: 10% 0 0 0;
    }

    /* -----------------Menu Page ----------------------- */
    #menu-page img {
        display: block;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        border: 5px solid transparent;
        border-image: url('../img/sand.png') 27;
        box-shadow: 0 0 30px;
    }

    #events img {
        width: 30%;
    }
}

/* ----------------------------------------------Screens Larger Than 900px ----------------------- */
@media only screen and (min-width: 900px ) {
    #mobile-img {
        display: none;
        margin-top: 0;
    }
    #home {
        padding-bottom: 0;
        background-size: cover;
        background-image: url('../img/large-background.jpg');
        padding-bottom: 30%;
    }
    #home nav ul {
        margin: 0;
        background-color: #0e5813;
        padding: 2% 0;
    }
    #home nav ul li {
        margin: 0;
        display: inline;
        background-color: transparent;
        padding: 1% 2%;
        font-size: .8em;
        white-space: nowrap;
    }
    #home nav ul li:hover {
        background-color: #e7e7e7;
    }
    #home nav ul li a:hover {
        margin: 0;
        padding: 0;
        border-radius: 0;
    }
    #menu ul li a:hover {
        color: #0e5813;
    }
    #home-logo {
        display: block;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
        max-width: 450px;
        padding-bottom: 10%;
    }
    .large {
        display: none;
    }
    #about {
        padding: 5%;
        box-shadow: 0 -10px 20px, 0 10px 10px;
        float: right;
    }
    #about h2 {
        margin-top: 0%;
    }
    #about-home{
        width: 40%;
        float: right;
    }
    .inside-images-large-screens {
        border: 5px solid transparent;
        border-image: url('../img/sand.png') 27;
        box-shadow: 0 -10px 20px, 0 10px 10px;
        width: 100%;
        display: inline;

    }
    #images-home{
        float: left;
        width: 50%;
    }
    footer {
        clear: both;
        padding: 12% 0 2% 0;
        text-align: left;
        margin-top: 0;
    }
    footer img {
        display: inline;
        float: left;
        width: 35%;
        margin-left: 10%;
    }
    footer nav {
        padding-top: 0;
        width: 40%;
        float: right;
    }
    footer nav ul {
        margin: 0;
        background-color: #0e5813;
        padding: 2% 0;
    }
    footer nav ul li {
        margin: 0;
        display: block;
        padding: 1% 2%;
        font-size: 1em;
        white-space: nowrap;
        width: 50%;
    }
    footer nav ul li:hover {
        background-color: #e7e7e7;
    }
    footer nav ul li a:hover {
        margin: 0;
        padding: 0;
        border-radius: 0;
    }
    footer p {
        padding-top: 5%;
        clear: both;
        text-align: center;
    }

    #banner img {
        margin-top: -15%;
    }
    /* ----------------------- Contact page-------------- */
    #main-page-logo {
        width: 16%;
        float: left;
        padding: 1% 1% 0%;
        display: inline;
    }
    #hamburger {
        width: 4%;
        margin: 1% 5% 0;
    }
    #main-pages {
        background: -webkit-linear-gradient(left, #e7e7e7 37%, #0e5813 79%);
    }
    #contact {
        padding: 1% 20%;
        border: none;
    }
    #contact-logo {
        display: none;
    }
    #contact h2 {
        margin-top: 0;
        font-size: 1.8em;
    }

    #contact-left {
        width: 50%;
        float: left;
    }
    #contact-right {
        width: 50%;
        float: right;
        padding-bottom: 15%;
    }

    /* ----------------------- Events page-------------- */
    #events {
        border: 0;
    }
    #events h2 {
        font-size: 2.5em;
    }
    .coming-events {
        width: 50%;
        float: left;
    }

    /* ----------------------- Events page-------------- */
    #promos {
        border: 0;
    }

    #promos h2 {
        font-size: 1.8em;
    }
    .promotion-img {
        display: block;
        float: left;
        width: 33%;
        margin-left: auto;
        margin-right: auto;
    }
    .promotion-img li {
        padding-top: 5%;
    }

    .promotion-img img {
        display: inline;
    }

    .coming-events:last-child p {
        padding-bottom: 10%;
    }

    /* ----------------------- Awards page-------------- */
    #awards {
        border: 0;
    }
    #awards h2 {
        font-size: 1.8em;
    }

    #awards img {
        width: 30%;
        border: 0;
        box-shadow: 0 0 0;
        float: left;
        padding: 0;
    }

    #awards ul {
        text-align: center;
        margin: 10%;
    }
    #awards ul li {
        padding: 8% 0 0 0;
        font-size: 1.3em;
    }

    /* ----------------------- Menu page-------------- */
    #menu h2 {
        font-size: 1.8em;
    }

    #menu-page h3 {
        background-color: #e7e7e7;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding: 1% 0;
        border: 3px solid #0e5813;
    }

    .app,
    .entrees,
    .dessert,
    .drinks,
    .sides {
        display: none;
    }

    .arrow-hide {
        display: inline;
    }

    #menu-page img {
        width: 20%;
        border: 0;
        border: 5px solid transparent;
        border-image: url('../img/sand.png') 27;
        box-shadow: 0 0 30px;
    }

    #bb8 img {
        width: 15%;
        margin-top: 20%;
        display: inline;
        border: none;
        box-shadow: 0 0 0;
    }

    #bb8 img:first-child {
        width: 9%;
        padding-bottom: 1%;
    }
}
