body {
    background-image: url('../img/mobile-back.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
}

header {
    text-align: center;
}

header img {
    width: 90%;
    margin-top: 20%;
}
